[user]

    email = rob@robphoenix.com
    name = Rob Phoenix
    signingkey = 4E270D9DED1AB5E7

[alias]

    s = status -s
    c = commit -S -m
    # Commit all changes
    ca = !git add -A && git commit -av
    aa = add --all
    p = push
    po = push origin
    pom = push origin master
    pod = push origin develop
    fom = fetch origin master
    fum = fetch upstream master
    mom = merge origin/master
    mod = merge origin/develop
    # rebase
    ri = rebase --interactive
    rc = rebase --continue
    rom = rebase origin/master
    rum = rebase upstream/master
    rod = rebase origin/develop
    h = reflog
    m = merge
    # Switch to a branch, creating it if necessary
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
    cl = clone
    b = branch -a
    rp = remote prune
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout -- .
    uncommit = reset --mixed HEAD~
    recommit = commit --amend
    unmerged = diff --name-only --diff-filter=U
    unmerge = reset --merge
    remotes = remote -v
    # delete remote branch
    dr = push origin --delete
    # delete local branch
    dl = branch -D
    # simple log
    l = log -n 20 --graph --oneline --decorate --pretty=format:"%C(green)%h\\ %C(cyan)(%ar)%C(red)%d\\ %C(yellow)%s\\ %C(green)[%an/%cn]"
    # more detailed log
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(yellow)(%ar)" --decorate --numstat
    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    # use diff-so-fancy https://github.com/so-fancy/diff-so-fancy
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    dsfl = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git show --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[color]

    ui = true

[help]

    autocorrect = 1

[core]

    excludesfile = ~/.gitignore
    editor = nvim
    trustctime = false

[github]

    user = robphoenix

[commit]

    gpgsign = true
    verbose = true

[gpg]

    program = gpg2

[push]

    default = matching
