[user]

    email = robertphoenix@gmail.com
    name = Rob Phoenix
    signingkey = FA3F87125D84F283

[alias]

    i = status -s
    cam = commit -am
    aa = add --all
    po = push origin
    pom = push origin master
    pod = push origin dev
    fom = fetch origin master
    fod = fetch origin dev
    mom = merge origin/master
    mod = merge origin/dev
    rom = rebase origin/master
    rod = rebase origin/dev
    h = reflog
    m = merge
    co = checkout
    con = checkout -b
    com = checkout master
    cl = clone
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout -- .
    uncommit = reset --mixed HEAD~
    recommit = commit --amend --no-edit
    unmerged = diff --name-only --diff-filter=U
    unmerge = reset --merge
    remotes = remote -v
    l = log --graph --oneline --decorate --pretty=format:"%C(green)%h\\ %C(cyan)(%ar)%C(red)%d\\ %C(yellow)%s"
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(yellow)(%ar)" --decorate --numstat
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    dsfl = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git show --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[color]

    ui = true

[help]

    autocorrect = 1

[core]

    excludesfile = ~/.gitignore
    editor = "if [[ '$OSTYPE' == 'linux-gnu' ]]; then EDITOR='nvim'; else EDITOR='vim'; fi; $EDITOR"
	trustctime = false

[github]

    user = bordeltabernacle

[commit]

    gpgsign = true

[gpg]

    program = gpg2
[push]
	default = matching
