! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.font: Input 24
rofi.hide-scrollbar: true
rofi.color-enabled: true
rofi.fuzzy: true
rofi.color-window: #f2f0ec, #f2f0ec, #2d2d2d
rofi.color-normal: #f2f0ec, #2d2d2d, #d3d0c8, #747369, #f2f0ec
rofi.color-active: #f2f0ec, #6699cc, #d3d0c8, #6699cc, #fdf6e3
rofi.color-urgent: #f2f0ec, #f2777a, #d3d0c8, #f2777a, #f2f0ec! Base16 Eighties

! ------------------------------------------------------------------------------
! URxvt Colour theme
! Base16 Eighties Scheme: Chris Kempson (http://chriskempson.com)
! ------------------------------------------------------------------------------
URxvt*background:                     #393939
URxvt*foreground:                     #d3d0c8
URxvt*cursorColor:                    #d3d0c8

URxvt*scrollColor:                    #d3d0c8
URxvt*highlightColor:                 #515151
URxvt*highlightTextColor:             #a09f93

URxvt*color0:                         #2d2d2d
URxvt*color1:                         #f2777a
URxvt*color2:                         #99cc99
URxvt*color3:                         #ffcc66
URxvt*color4:                         #6699cc
URxvt*color5:                         #cc99cc
URxvt*color6:                         #66cccc
URxvt*color7:                         #d3d0c8
URxvt*color8:                         #747369
URxvt*color9:                         #f2777a
URxvt*color10:                        #99cc99
URxvt*color11:                        #ffcc66
URxvt*color12:                        #6699cc
URxvt*color13:                        #cc99cc
URxvt*color14:                        #66cccc
URxvt*color15:                        #f2f0ec

URxvt*color16:                        #f99157
URxvt*color17:                        #d27b53
URxvt*color18:                        #393939
URxvt*color19:                        #515151
URxvt*color20:                        #a09f93
URxvt*color21:                        #e8e6df

!-- Xft settings -- !
Xft.dpi:        184
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

! -- Fonts -- !
URxvt.font:xft:input:pixelsize=35
URxvt.boldFont:xft:input:style=Bold,pixelsize=35
*faceSize:              10
*bellIsUrgent:          true

! -- Borders -- !
URxvt*internalBorder: 1
URxvt*externalBorder: 1
URxvt*background.border: false

!! scroll
!! do not scroll with output
URxvt*scrollTtyOutput:      false
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true
!! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

!! scrollback buffer
URxvt.secondaryScreen:  1
URxvt.secondaryScroll:  0
URxvt.secondaryWheel:   1

!! scrollbar
*scrollBar:             false

URxvt*termName:         rxvt

!! clickable urls
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard,clipboard,font-size
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1
URxvt.url-select.underline: true

!! copy paste
URxvt*clipboard.copycmd:    xclip -i -selection clipboard
URxvt*clipboard.pastecmd:   xclip -o -selection clipboard

!! disable default bindings for Control-Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Control-Shift-C for copy
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

!! get option over to work
URxvt.keysym.M-Left:        \033[1;5D
URxvt.keysym.M-Right:       \033[1;5C
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!! Increase/Decrease font size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
