snippet fm "markdown frontmatter"
Plug '$1'
endsnippet


snippet mfm "markdown music frontmatter"
---
title: "Songs to Code to: $1"
date: `date +%Y-%m-%d`
tags: [ "music" ]
---

<iframe width="640" height="360" src="https://www.youtube.com/embed/$2" frameborder="0"> </iframe>
endsnippet


snippet cb "code block"
\`\`\`$1
$2
\`\`\`
endsnippet

