"*":
  "exception-reporting":
    userId: "21ce0040-a4cd-de27-4c18-7f6eea33b6f8"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".pyc"
      ".vagrant"
    ]
    disabledPackages: [
      "autohide-tree-view"
      "markdown-format"
    ]
    audioBeep: false
    autoHideMenuBar: true
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontFamily: "Source Code Pro for Powerline"
    backUpBeforeSaving: true
    softWrap: true
  linter: {}
  "tree-view":
    hideIgnoredNames: true
  "tool-bar":
    iconSize: "16px"
    visible: false
    position: "Left"
  "autocomplete-plus": {}
  "linter-flake8":
    executableDir: "/usr/local/bin/"
  "markdown-preview": {}
  "markdown-writer":
    fileExtension: ".md"
    siteImagesDir: "images/"
    siteEngine: "jekyll"
    siteUrl: "https://bordeltabernacle.github.io/"
    sitePostsDir: "_posts/"
    siteLocalDir: "/home/willem/bordeltabernacle.github.io"
  "highlight-line":
    enableUnderline: true
  "git-plus": {}
  "lisp-paredit": {}
  "color-tabs":
    backgroundStyle: "none"
    borderSize: 2
    borderStyle: "bottom"
  "linter-clojure":
    clojureExecutablePath: "/home/willem/clojure-1.7.0/clojure-1.7.0.jar"
